.fondo1, .fondo2{
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    height: 100%;
}

.img-logo{
    height: 60px;
}

.fondo2{
    height: unset !important;
}

.bg-transparent{
    background: transparent !important;
}

.bg-purple-dark{
    background: #650865 !important;
}

.bg-blue-dark{
    background: #242756 !important;
}

.bg-blue-light{
    background: #3bbce8 !important;
}

.text-white{
    color: #ffffff !important;
}

.text-blue-light{
    color: #3bbce8 !important;
}

.text-services{
color: #3bbce8 !important;
font-size: 45px;
}
.text-services-two{
    color: #36334c;
    font-weight: bold;
}
.text-gray-dark{
    color: #36334c
}

.text-purple-dark{
    color: #650865 !important;
}

.text-aliados{
    color: #650865 !important;
    font-size: 45px;
}

.ui.menu .item::before{
    width: 0 !important;
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child{
    border-left: 0px !important;
}

a.item div{
    font-size: 1.2rem !important;
}

a.item:hover div{
    transition: all 0.6s;
    background: #650865 !important;
    padding: 8px;
    color: #ffffff;
    border-radius: 20px;
}

a.item:hover span{
    transition: all 0.8s;
    color: #650865 !important;
}

.hover-one:hover{
    border: 1px solid #00a8e1 !important;
    background: transparent !important;
}

.hover-two:hover{
    border: 0px !important;
    background: #650865 !important;
}

.ui.celled.grid.light > .row > .column {
    -webkit-box-shadow: -1px 0 0 0 #f4f4f4;
    box-shadow: -1px 0 0 0 #f4f4f4;
}

.ui.celled.grid.light > .row {
    -webkit-box-shadow: 0 -1px 0 0 #f4f4f4;
    box-shadow: 0 -1px 0 0 #f4f4f4;
}

.p-start-servicio{
    padding-top: 60px !important;
}

.text-justify{
    text-align: justify;
}

.p-start-end{
    padding: 40px 0px;
}

.transition-08s{
    transition: all 0.8s;
}

.img-logo{
    width: 100% !important;
}

.center-center{
    height: 70%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.center-center h1{
    font-size: 3rem;
}

.off-border-shadows{
    border: 0px !important;
    box-shadow: unset !important;
}

.btn-rounder{
    border-radius: 20px !important;
}

.border-blue{
    border: 1px solid #00a8e1 !important;
}

.mt-3{
    margin-top: 2em;
}

.mt-5{
    margin-top: 4em;
}

.w-alt{
    width: 250px;
}

.portafolio .column{
    padding: 0px !important;
}

.f-900{
    font-size: 900 !important;
    font-family: 'Poppins', sans-serif;
}

.movil{
    display: none !important;
}

.text-center{
    text-align: center !important;
}
/* media */
@media screen and (max-width: 900px){
    .ui.menu.pc{
        display: none !important;
    }
    .ui.menu.movil{
        display: block !important;
        margin-top: 0px !important;
    }
    .img-logo{
        height: 120px;
    }
}

@media screen and (max-width: 600px){
    h2 .f-900{
        font-size: 1.2rem !important;
    }

    h1 .f-900{
        font-size: 1.8rem !important;
    }

    .center-center button.button:last-child{
        margin-top: 3px !important;
    }

    .center-center .center{
        margin-top: -2px !important;
        padding-top: 0px !important;
    }

    .center-center h1{
        margin-top: 0px !important;
    }
}

.tab_aliado{
    margin-top: 10px !important;
}

.tab_aliado .menu .item{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.tab_aliado .ui.vertical.tabular.menu{
    border: 0px !important;
}

.tab_aliado .ui.vertical.tabular.menu .active.item{
    background: #650865 !important;
    margin: 0 -1px 0 -1px;
    border-radius: 0em 6em 6em 0em !important;
}

.tab_aliado .ui.vertical.tabular.menu .active.item span h5, .tab_aliado .ui.vertical.tabular.menu .active.item span h5 small{
    color: #ffffff !important;
}

.tab_aliado .menu .item span h5{
    color: #3bbce8 !important;
}

.tab_aliado .menu .item span h5 small{
    color: #36334c
}

.tab_aliado .menu .item span{
    margin-left: 20px !important;

}

.tab_aliado .header_tap{
    display: flex !important;
    margin-bottom: 20px;
}

.tab_aliado .header_tap h2{
    margin-left: 20px !important;
}

.tab_aliado .ui.segment{
    border: 0px !important;
}

.relative{
    position: relative !important;
}

.btn-carrusel-aliado{
    color: #fff;
    position: absolute;
    background: transparent;
    top: 0;
    border: 0px;
    font-size: 2em;
    z-index: 2;
    height: 100%;
}

.btn-carrusel-aliado i.icon{
    margin: 0px;
}

.btn-carrusel-aliado.btn-left{
    left: 0;
}

.btn-carrusel-aliado.btn-left::before, .btn-carrusel-aliado.btn-right::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 30px;
    top: 0;
}

.btn-carrusel-aliado.btn-left::before{
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 21%, rgba(76,76,76,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(21%, rgba(31,31,31,1)), color-stop(100%, rgba(76,76,76,0)));
    background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 21%, rgba(76,76,76,0) 100%);
    background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 21%, rgba(76,76,76,0) 100%);
    background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 21%, rgba(76,76,76,0) 100%);
    background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(31,31,31,1) 21%, rgba(76,76,76,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 );
    left: 0;
}

.btn-carrusel-aliado.btn-right::after{
    background: rgba(43,43,43,0);
    background: -moz-linear-gradient(left, rgba(43,43,43,0) 0%, rgba(102,102,102,0) 0%, rgba(89,89,89,0) 0%, rgba(71,71,71,0) 0%, rgba(44,44,44,0) 0%, rgba(28,28,28,0) 0%, rgba(17,17,17,0) 0%, rgba(0,0,0,0) 0%, rgba(76,76,76,0) 0%, rgba(31,31,31,1) 79%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,43,43,0)), color-stop(0%, rgba(102,102,102,0)), color-stop(0%, rgba(89,89,89,0)), color-stop(0%, rgba(71,71,71,0)), color-stop(0%, rgba(44,44,44,0)), color-stop(0%, rgba(28,28,28,0)), color-stop(0%, rgba(17,17,17,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(76,76,76,0)), color-stop(79%, rgba(31,31,31,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(left, rgba(43,43,43,0) 0%, rgba(102,102,102,0) 0%, rgba(89,89,89,0) 0%, rgba(71,71,71,0) 0%, rgba(44,44,44,0) 0%, rgba(28,28,28,0) 0%, rgba(17,17,17,0) 0%, rgba(0,0,0,0) 0%, rgba(76,76,76,0) 0%, rgba(31,31,31,1) 79%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(left, rgba(43,43,43,0) 0%, rgba(102,102,102,0) 0%, rgba(89,89,89,0) 0%, rgba(71,71,71,0) 0%, rgba(44,44,44,0) 0%, rgba(28,28,28,0) 0%, rgba(17,17,17,0) 0%, rgba(0,0,0,0) 0%, rgba(76,76,76,0) 0%, rgba(31,31,31,1) 79%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(left, rgba(43,43,43,0) 0%, rgba(102,102,102,0) 0%, rgba(89,89,89,0) 0%, rgba(71,71,71,0) 0%, rgba(44,44,44,0) 0%, rgba(28,28,28,0) 0%, rgba(17,17,17,0) 0%, rgba(0,0,0,0) 0%, rgba(76,76,76,0) 0%, rgba(31,31,31,1) 79%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to right, rgba(43,43,43,0) 0%, rgba(102,102,102,0) 0%, rgba(89,89,89,0) 0%, rgba(71,71,71,0) 0%, rgba(44,44,44,0) 0%, rgba(28,28,28,0) 0%, rgba(17,17,17,0) 0%, rgba(0,0,0,0) 0%, rgba(76,76,76,0) 0%, rgba(31,31,31,1) 79%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#131313', GradientType=1 );
    right: 0;
}
.btn-carrusel-aliado.btn-right{
    right: 0;
}

.aliados .info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(35, 39, 86, 0.6);
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    opacity: 0;
}

.aliados .relative:hover .info{
    opacity: 1;
}

.ui.card.employer > :first-child{
    border-radius: 50px !important;
    height: 245px;
    background: white;
}

.ui.card.employer > :first-child img{
    height: 236px;
}

.ui.card.employer > :last-child{
    padding: 77px 15px 30px;
    border: 0;
    border-radius: 0px 0px 50px 50px !important;
    background: #252856;
    margin-top: -50px;
}

.contacto .ui.segment{
    padding: 25px;
}

.contacto .ui.segment .item{
    margin: 10px;
}

.placeholder-color{
    border-radius: 15px !important;
}

.placeholder-color::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #252856 !important;
}
.placeholder-color:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #252856 !important;
   opacity: 1 !important; /* esto es porque Firefox le reduce la opacidad por defecto */
}
.placeholder-color::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #252856 !important;
   opacity:  1 !important;
}
.placeholder-color:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #252856 !important;
}

.footer{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(0,80,143,1) 50%, rgba(0,80,143,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(0,80,143,1)), color-stop(100%, rgba(0,80,143,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(0,80,143,1) 50%, rgba(0,80,143,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(0,80,143,1) 50%, rgba(0,80,143,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(0,80,143,1) 50%, rgba(0,80,143,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(0,80,143,1) 50%, rgba(0,80,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00508f', GradientType=0 );
}

.footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icons h1{
    padding-left: 34px;
}

.footer .img-logo{
    height: 60px;
    width: 230px !important;
}



/*CARD OVER*/
.card-works {
    max-width: 100%;
    top:0; right: 0; left: 0; bottom: 0;
    margin: 0px 0px 5px 0px;
    background: url('/assets/img/sistema/Logo-1.png');
    background-color: #3bbce8;
    background-size: cover;
    cursor: pointer;
    }
.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 1fr 2fr;

  background: rgba(36, 39, 86, 1);
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
}

.company {
    font-size: 50px;
    line-height: 20px;

    transform: translateY(40px);
    transition: all 0.7s;
   text-align: center;
   color: #650865;
  }

.head {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;

  transform: translateY(40px);
  transition: all 0.7s;
 text-align: center;
}

.category {
    font-size: 16px;
  font-weight: bold;
  line-height: 40px;

  transform: translateY(40px);
  transition: all 0.7s;
 text-align: center;
 color: #3bbce8;
  }
.container:hover .overlay {
  opacity: 1;
}



.btn-social i:hover {
    cursor: pointer;
    transition: all 1s;
    color: #650865 !important;
  }
    a.item:hover div {
        transition: all 0.6s;
        background: #650865 !important;
        padding: 10px;
        color: #ffffff;
        border-radius: 20px;
        }
        .ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
            cursor: pointer;
            transition: all 1s;
            background: transparent;
            border-radius: 20px;
            }
.ui.tabular.menu .item {
border: 0px!important;
}
.ui.tabular.menu {
border-bottom: 0px!important;
}

.ui.attached.segment{
    border: 0px!important;
}


/*Card*/
.carta-box {
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}


.flip-card {
  background-color: transparent;
  height: 280px;
  perspective: 1000px;
  margin-bottom: 100px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}



