.main-background{
	background-size:100% 100%!important;
	background-repeat:no-repeat!important;
	height:100%;
    padding-bottom: 150px;
}
.navbar-brand-div{
    padding-left: 10%;
}
.navbar-brand-logo{
    width: 290px;
    height: 60px;
}
.navbar-menu{
    padding-right: 15%; 
    padding-top: 10px;
}
.navbar-menu-item{
    font-size: 1.1rem!important;
}
.navbar-menu-item .nav-link:hover{
    background-color: #650865 !important;
    border-radius: 25px;
    transition:all .8s;
}
.purple-btn{
    color: white;
    font-weight: 700;
    border-radius: 25px;
    background-color: #650865 !important;
    border: 1px solid #650865 !important;
    padding: 10px 30px;
}
.transparent-btn{
    color: white;
    font-weight: 700;
    border-radius: 25px;
    background-color: none !important;
    border: 1px solid #00a8e1!important;
    padding: 10px 30px;
}
.blue-btn{
    background-color: #3bbce8!important;
    border: 1px solid #00a8e1!important;
    border-radius: 25px;
    color: white;
}
.purple-btn:hover{
    background:0 0!important;
    border: 1px solid #00a8e1 !important;
}
.transparent-btn:hover{
    background-color: #650865 !important;
    border: 1px solid #650865 !important;
}
.our-services-title{
	color:#3bbce8!important;
	font-size:45px
}
.our-services-subtitle{
	color:#36334c;
	font-weight:600;
}
.text-gray-dark{
	color:#36334c;
    font-weight: 500;
}
.our-services-box{
    border: solid 1px #f4f4f4;
}
.our-services-box-text{
    font-size: 14px;
    font-weight: 400;
}
.our-works-title{
    color:#650865!important;
    font-size:45px;
    padding-left: 10%;
}
.our-works-subtitle{
    padding-left: 12%;
}
.our-works-menu{
    text-align: right;
}
.our-works-menu-link{
    font-size: 14px;
    color: rgba(0,0,0,.87);
}
.nav-item .active{
    color: rgba(0,0,0,.95);
    font-weight: 500;
}
.our-works-menu-link:hover{
    color: rgba(0,0,0,.87);
}
.our-works-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 350px;
}
.overlay{
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:2fr 2fr 1fr 2fr;
	background:rgba(36,39,86,0.8);
	color:#fef5df;
	opacity:0;
	transition:all .5s
}
.our-works-card:hover .overlay{
	opacity: 1;
}
.our-works-company-logo{
	margin-top: 40px;
	transition:all .7s;
	text-align:center;
	color:#650865
}
.our-works-project-name{
    margin-top: 20px;
	font-size:25px;
	font-weight:700;
	transition:all .7s;
	text-align:center;
}
.our-works-technologies{
    margin-top: 10px;
	font-size: 18px;
	font-weight: 500;
	transition:all .7s;
	text-align:center;
	padding-left: 10px;
	padding-right:  10px;
}
.our-works-tag{
    margin-top: 35px;
	font-size:20px;
	font-weight:700;
	line-height:20px;
	transition:all .7s;
	text-align:center;
	color:#3bbce8;
	padding-left: 10px;
	padding-right:  10px;
}
.row{
    margin-right: 0px !important;
}
.contact-section{
    padding: 40px 0; 
    background: linear-gradient(to bottom,#fff 0,#fff 50%,#fff 50%,#00508f 50%,#00508f 100%);
}
.contact-section-form-div{
    background-color: #242756!important;
}
.contact-section-list .list-group-item{
    background-color: #242756!important;
    padding: .25rem 0;
    border: none;
    color: white;
    font-size: 15px;
}
.contact-section-list .list-group-item div{
    font-size: 14px;
    font-weight: 400;
}
.contact-section-input{
    border-radius:15px!important
}
.contact-section-button-div{
    text-align: right;
}
.contact-section-button{
    border-radius: 20px;
    background-color :#3bbce8!important;
    color: white;
    font-weight: 600;
}
.img-logo {
    height: 50px;
    width: 230px!important;
}
@media (max-width: 540px) {
    .contact-section-left{
        text-align: center;
    }
    .contact-section-button-div{
        text-align: center;
    }
    .contact-section-captcha{
        text-align: center;
    }
    .g-recaptcha {
        display: inline-block;
    }
    .transparent-btn{
        margin-top: 10px;
    }
    .our-works-title{
        padding-left: 0%;
        text-align: center;
    }
    .our-works-subtitle{
        padding-left: 0%;
        text-align: center;
    }
    .contact-section-icon{
        padding-top: 10px;
    }
}